@import "normalize";
@import "foundation/settings";
@import "foundation";

body{
  position: relative !important;
  width: 100%  !important;
  top: 0;
  left: 0;
}

#background-panel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
}

#front-panel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 77;
  margin-top: rem-calc(45px);
}